* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 62.5% !important; // 1rem = 10px
}

body {
  background: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--font-family-default);
  font-size: var(--font-size-regular);
  line-height: 1.5;
}
